@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #D8A89B;
  /* background-image: url(./image2.png);
  background-size: cover; /* Cover the entire viewport */
  /* background-repeat: initial; */
} 

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
  }
}

body {
  color: white;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
